/*Html*/
html {
    font-size: 6.25%;

}


/*BODY*/
body {

    /*taille texte*/
    font-size: 25rem;
    font-family: Roboto;

    /*couleur*/
    background-color: #FFF7AB;
    color: #2E2E2E;
    margin: 0;


}

/*NAVIGATION*/

nav {
    width: 100%;
    height: auto;
    background-color: #004851;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25rem;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    z-index: 10;

}

#nav {
    visibility: visible;
    margin: 0;
    padding: 0;


}

.nav {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    padding: 2px 10px 2px 10px;

}



/*LIEN*/
.a:hover {

    border-radius: 30px;
    color: #004851;
    background-color: #FFFFFF;
}

.a {
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    background-color: #004851;
    color: #FFFFFF;
    margin: 5px 10px 5px 0px;
    padding: 5px 10px 5px 10px;
}

/*H2*/
h2 {
    margin-top: 5px;
    margin-bottom: 60px;
    padding: 30px 50px 0px 50px;
    justify-self: center;
    font-size: 50rem;
    position: relative;
    z-index: 1;
    font-family: Anta;
}

.titre {
    margin-top: 5px;
    margin-bottom: 60px;
    padding: 20px 50px 0px 50px;
    justify-self: center;
    font-size: 40rem;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-family: Anta;
}

/*H3*/
h3 {
    text-align: center;
    margin-top: 0;
    padding-top: 20px;

}

/*HEADER*/

header {

    width: 100%;

    color: #FFFFFF;
    font-size: 12rem;

    background-color: #0D5257;
    text-align: center;


}

#header {
    width: 100%;
    height: auto;
    aspect-ratio: 600/100;
    margin: 0;
    position: relative;
}

#header img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 5%;

}

#head {

    margin-bottom: 5px;
    padding-bottom: 5px;
    margin: 0;
}

#logo {
    width: 100%;
    height: auto;

}

#logo img {
    width: 10%;
    top: 0;
    position: absolute;

}

/*paralax*/
.banderol {
    width: 100%;
    overflow: hidden;
    background: #004851;
    color: #fff;
    white-space: nowrap;
    padding: 10px 0;
    box-sizing: border-box;
}

.bandelette {

    display: inline-block;
    animation: banderol 15s linear infinite;
}

.bandelette img {
    width: 1%;
    padding: 0 2% 0 2%;

}


.bandelette span {

    display: inline-block;
    margin-right: 10px;
}

@keyframes banderol {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-53.5%);
    }
}




/*TREALER*/
#video {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #004851;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1;


}

#vid {

    margin: 0 0 30px 0;


    border-radius: 15px;
}


/*Description*/
#Description {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;

    padding: 10px 0px 40px 0px;
    position: relative;
    margin-top: 5px;



}


#tomate {
    margin: 0;


}

#tomate img {
    width: 5%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 1;


}

#dp {

    margin: 0;
    padding: 0px 50px 0px 50px;
}

/*apercus*/
#apercus {

    width: 100%;
    height: auto;
    background-color: #0D5257;

    padding: 10px 0px 40px 0px;
    position: relative;
    margin-top: 5px;
    color: #FFFFFF;


}

#box {
    display: flex;
    flex-direction: row;

}

.box {
    width: 400px;
    border-radius: 15px;
    background-color: #004851;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.apimg {
    margin: 0;

}

.apimg img {
    width: 100%;
    border-radius: 15px;
}

#coeur {

    margin: 0;

}

#coeur img {
    position: absolute;
    top: 1%;
    left: 50%;
    width: 5%;
    transform: translateX(-50%);
}

.ap {
    font-size: 14rem;
    text-align: center;

}

#l1 {
    margin-bottom: 11%;
}

#l2 {
    margin-bottom: 5%;
}

#B {
    margin-bottom: 23%;
}

/*Telechargement*/
#tele {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;

    padding: 50px 0px 200px 0px;
    position: relative;
    margin-top: 5px;
    text-align: center;
    z-index: 1;
}

#telechargement {
    border-radius: 8px;

    text-decoration: none;
    color: #004851;
    background-color: #FFFFFF;
    margin: 5px 10px 5px 0px;
    padding: 5px 10px 5px 10px;
    border: #004851 2px solid;
    font-size: 70rem;
}

#telechargement:hover {

    border-radius: 8px;

    text-decoration: none;
    color: #FFFFFF;
    background-color: #004851;
    margin: 5px 10px 5px 0px;
    padding: 5px 10px 5px 10px;
    font-size: 70rem;
}

#tel {
    margin-bottom: 100px;
    margin-top: 100px;
}

#fleur {
    margin: 0;




}

#fleur img {
    width: 2%;
    position: absolute;
    top: 15%;
    left: 25%;


}


/*Apropos*/
#propos {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;

    padding: 0 0 10% 0;
    position: relative;
    margin-top: 5px;
}

.pp {
    padding: 0px 50px 0px 50px;
}

/*Equipe*/
#equipe {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;

    padding: 0px 0px 10% 0px;
    position: relative;
    margin-top: 5px;

}

#bix {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;

    margin: 0px 30% 0px 30%;
    padding: 1% 1.5% 1% 1.5%;


}

.eq {
    padding: 5px;
}

#portrait {
    margin: 0;
    text-align: center;
    border-radius: 20px;


}

#portrait img {

    width: 20%;
}

/*faq*/
#faq {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    font-size: 20rem;
    padding: 0px 0px 40px 0px;
    margin-top: 5px;
    position: relative;
}

.questions {
    background-color: #0D5257;

    color: #FFFFFF;
    padding: 10px 50px 10px 50px;
    text-align: center;
    margin: 0 10% 0 10%;
    border-radius: 8px;
}

.réponse {

    padding: 60px 50px 60px 50px;
    margin: 0 10% 0 10%;
}

/*Boutique*/

#boutique {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    font-size: 20rem;
    padding: 0px 0px 40px 0px;
    margin-top: 5px;

    position: relative;
}

#mersh {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}

.mersh {
    width: 400px;
    border-radius: 15px;
    background-color: #FFF7AB;
    margin: 2% 5% 2% 5%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.goodies {
    margin: 0;
}

.goodies img {
    width: 50%;
}


#ps {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 10rem;
}


/*contact*/
#contact {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    font-size: 20rem;
    padding: 0px 0px 40px 0px;
    margin-top: 5px;

    position: relative;


}

.cadre {
    box-shadow: 0px 3px 5px #00000029 inset;
    border: #0D5257 2px solid;
    border-radius: 4px;


}

label {
    padding-bottom: 10px;
    padding-top: 10px;

}

form {

    width: 33%;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 1% 35% 1% 34%;
}

button {
    text-align: center;
    width: 20%;
    margin-top: 10px;
    background-color: #0D5257;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 5px;
    margin-left: 40%;
}

#map {
    margin-top: 5px;
    padding-top: 10px;
    text-align: center;
    background-color: #0D5257;

}

/*Portfolio*/

#portfolio {
    width: 100%;
    height: 100%;

    font-size: 20rem;

    padding: 0.5% 0 5% 0;
    margin-top: 5px;
}

.carrousel {
    width: 700px;
    height: 600px;

    position: relative;
    margin: 5% auto;

    border-radius: 5%;
    overflow: hidden;
    background-color: #004851;

}

.cad {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

}

.carrousel span {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.image_1 {
    width: 100%;
    z-index: 2;
    opacity: 1;
    background: url(../images/affiche\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_2 {
    width: 100%;
    background: url(../images/tomate1\ \(5\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_3 {
    width: 100%;
    background: url(../images/taupe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_4 {
    width: 100%;
    background: url(../images/tomate1\ \(4\).png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_5 {
    width: 100%;
    background: url(../images/tomate1\ \(6\).png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_6 {
    width: 100%;
    background: url(../images/tuyaux\ d\'arrosage\ 2-Photoroom.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_7 {
    width: 100%;
    background: url(../images/t1.PNG);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.image_8 {
    width: 100%;
    background: url(../images/Capture.PNG);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}




.precedente,
.suivante {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: #FFF7AB;
}

.precedente {

    left: 20px;
}

.suivante {

    right: 20px;
}

*:target~.image_1 {
    opacity: 0;
}

#image_1:target~.image_1 {
    opacity: 1;
}

#image_2:target~.image_2,
#image_3:target~.image_3,
#image_4:target~.image_4,
#image_5:target~.image_5,
#image_6:target~.image_6,
#image_7:target~.image_7,
#image_8:target~.image_8 {
    z-index: 2;
    opacity: 1;
}




/*footer*/
footer {
    width: 100%;
    height: auto;
    background-color: #0D5257;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-size: 10rem;
    margin-top: 5px;
}

#footer {
    text-align: end;
    margin-right: 5px;
}

#foot {
    display: flex;
    flex-direction: column;
}

#res {
    width: 10%;



}

#resaux {

    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: 3%;
}

#tik img {
    width: 100%;
    margin: 0;
    padding: 0;

}

#insta img {
    width: 100%;
    margin: 0;
    padding: 0;

}

#copyright img {
    width: 120%;
    margin: 0px 0 10px 0px;

}

#copyright {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;

}

ul {
    list-style: none;
    padding: 2% 0 0 2%;


}

.bande {
    margin: 0;
    padding: 0;

}

.bande img {
    width: 100%;
    height: auto;
    background-color: #004851;
    position: absolute;


}

.centre {
    text-align: center;

}

/*RESPONSIVE*/
/*1120*/
@media screen and (max-width: 1120px) {

    .nav {


        font-size: 15rem;
        padding: 0;


        margin: 0px;

    }

    #box {

        flex-wrap: wrap;
        justify-content: center;

    }



}




@media screen and (max-width: 1020px) {



    .titre {

        margin-bottom: 30px;
        padding: 10px 50px 0px 50px;


    }




    h2 {
        font-size: 30rem;
    }

    #telechargement {
        font-size: 50rem;
    }

    #telechargement:hover {
        font-size: 50rem;
    }

    footer {
        font-size: 10rem;
    }

    ul {
        padding: 2% 0 0 5px;
    }
}



@media screen and (max-width: 888px) {



    .titre {

        font-size: 35rem;

        padding: 5px 50px 0px 50px;
    }



    button {
        width: 30%;

        margin-left: 35%;
    }

    #bix {

        margin: 0px 27% 0px 27%;

    }

    h3 {
        padding: 0;
        font-size: 20rem;
    }



    .nav {


        font-size: 12rem;
        padding: 0;


        margin: 0px;

    }


    .carrousel {
        width: 400px;
        height: 300px;


    }


}

@media screen and (max-width: 821px) {
    nav {
        width: 40px;
        height: 35px;

        color: white;
        padding-top: 0px;
        padding-bottom: 5px;

        display: flex;
        justify-self: end;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        border-radius: 15px;


    }

    #nav {
        visibility: hidden;

    }

    .nav {
        display: inline-block;

        padding: 2px 10px 2px 10px;

        font-size: 15rem;

    }

    /*NAV.ACTIVE*/

    #nav.active {
        visibility: visible;
    }

    nav.active {
        width: 100px;
        height: 175px;

        color: white;
        padding-top: 85px;
        padding-bottom: 10px;

        display: flex;
        justify-self: end;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        border-radius: 15px;
        text-align: center;

    }


    /*MENU*/
    #menu {
        height: 30px;
        width: 30px;
        position: relative;
        margin: 0px 0px -226px 0px;
       

    }

    #menu div {
        background-color: #FFFFFF;
        width: 20px;
        height: 3px;
        position: absolute;
        transition: all 0.5s;
        margin: 0;
    }

    #menu div:nth-child(1) {
        top: 5px;
        right: 5px;
    }

    #menu div:nth-child(2) {
        top: 13px;
        right: 5px;
    }

    #menu div:nth-child(3) {
        top: 21px;
        right: 5px;
    }

    /*MENU.ACTIVE*/
    #menu.active {
        height: 30px;
        width: 30px;
        position: relative;
        margin: 0px 0px 30px 0px;

    }

    #menu.active div:nth-child(1) {
        transform: translate(-1px, 7px) rotate(45deg);

    }

    #menu.active div:nth-child(2) {
        transform: scale(0)
    }

    #menu.active div:nth-child(3) {
        transform: translate(-1px, -9px) rotate(-45deg);
    }

    #header img {

        margin-top: 0%;

    }

    .titre {
        font-size: 25rem;
        padding: 5px 50px 0px 50px;
    }

    .a {
        margin: 0;
    }

    nav {

        font-size: 10rem;

    }

}

@media screen and (max-width: 682px) {

p



    #head {
        font-size: 8rem;

    }



    #map iframe {
        width: 70%;
    }



    #portfolio {


        padding: 10% 0 10% 0;

    }

    body {
        font-size: 20rem;
    }

    #propos {

        padding: 0 0 50% 0;

    }

    #equipe {


        padding: 0px 0px 50% 0px;



    }

    footer {
        font-size: 8rem;
    }
}

@media screen and (max-width: 582px) {
   

    #vid {
        width: 400px;
        margin: 0 0 30px 0;


        border-radius: 15px;
    }

    form {
        width: 50%;

        margin: 1% 3% 1% 25%;
    }

    .titre {
        font-size: 22rem;
        padding: 0px 50px 0px 50px;
    }

    #portfolio {


        padding: 20% 0 20% 0;

    }

    button {
        width: 45%;
        margin-left: 25%;
    }

}

@media screen and (max-width: 452px) {


    #portfolio {


        padding: 25% 0 25% 0;

    }

    button {
        width: 50%;
        margin-left: 20%;
    }

}


@media screen and (max-width: 420px) {
    #vid {
        width: 350px;
        margin: 0 0 30px 0;


        border-radius: 15px;
    }



    


    .carrousel {
        width: 350px;
        height: 450px;


    }

   
}


/*/*résaux sociaux,footer réduire police et si besoin retirer le padding sur ul
réduire drastiquement la police partout
Attention au image volante peut-être changer cela
le bloc dans equipe*/